.park-detail-wrape{
    display: grid;
    grid-template-columns: 30% 20% 50%;
    padding: 10px 0;
    cursor: default;
    border-radius: 10px;
}

.park-detail-parkname{
    margin: 0 auto;
}

.park-detail-action{
    margin: 0 auto;
}

.park-detail-time{
    margin: 0 auto;
}